body {
    background-color:blueviolet;
}

img {
    position: absolute;
    width: 100px;
    height: 100px;

}
.a {
    top: 20px;
    left: 40px;
}
.a1 {
    top: 120px;
    left: 140px;
}
.a2 {
    top: 220px;
    left: 240px;
}
.a3 {
    top: 320px;
    left: 340px;
}